---
---

@import 'cmun-serif';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.latex {
  // courtest of these two resources:
  // http://tess.oconnor.cx/2007/08/tex-poshlet
  // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
  .a, .e {
    text-transform: uppercase;
    position: relative;
    vertical-align: baseline;
  }
  .a {
    font-size: 0.85em;
    top: -0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
  }
  .e {
    font-size: 1em;
    top: 0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
  }
}


@media screen and (min-width: 480px) {

  body {
    background-color: {{ site.color }};
  }

  main {
    background-color: white;
    font-family: 'Computer Modern Serif', serif;
    font-size: 12pt;
    width: 960px;
    // width: 760px;
    margin: 0 auto;
    padding: 1in;
    hyphens: auto;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  // basic formatting for all sections
  [class*='section-'] {
    margin-bottom: 1em;
    float: left;
    padding-right: 10px;
    &:last-of-type {
      padding-right: 0px;
    }

    // for each section, indent all but the first *immediate* children
    // &>:nth-child(n+2) {
    //   padding-left: .75em;
    // }

    // indent everything but the headers of sections and articles
    &>:not(header), & article>:not(header) {
      padding-left: .5em;
    }

    & article {
      margin-bottom: .5em;
      header {
        font-style: italic;
      }
    }
  }

  // expand parent of grid to contain all children
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .section-name {
    width: 100%;
    background-color: red;
  }

  .section-{{ site.data.resume.contact.heading | slugify }} {
    float: right;
    width: 41%;
    background-color: orange;

    // source: 3rd example in https://css-tricks.com/forums/topic/flexible-restaurant-menu-with-dotted-leaders/
    table {
      width: 100%;
      border-collapse: collapse;

      td {
        vertical-align: bottom;
      }

      td:first-child {
        font-weight: bold;
        overflow: hidden;
        position: relative;
      }

      td:first-child::after {
        content: '';
        position: absolute;
        bottom: 0;
        width:1500px;
        height:0px ;
        margin-left: 0;
        border-bottom: 2px dotted black;
      }

      td:last-child {
        text-align: right;
      }
    }

    // dl {
    //   background-color: RebeccaPurple;
    // }
    // dt {
    //   background-color: MistyRose;
    //   display: inline-block;
    //   font-weight: bold;
    //   // width: 5em;
    //   text-align: left;
    //   &:after {
    //     display: block;
    //     content: '';
    //   }
    // }
    // dd {
    //   // line-height: 2em;
    //   background-color: Aquamarine;
    //   display: inline;
    //   text-align: right;
    //   // width: 100%;
    //   // float: right;
    //   &:after {
    //     display: block;
    //     content: '';
    //   }
    // }
  }

  .section-{{ site.data.resume.intro.heading | slugify }} {
    width: 59%;
    background-color: yellow;
  }

  .section-{{ site.data.resume.education.heading | slugify }} {
    width: 59%;
    background-color: green;
  }

  .section-{{ site.data.resume.skills.heading | slugify }} {
    width: 100%;
    background-color: blue;
    ul {

      -moz-column-count: 5;
      -moz-column-gap: 3em;
      -webkit-column-count: 5;
      -webkit-column-gap: 3em;
      column-count: 5;
      column-gap: 3em;
    }
  }

  .section-{{ site.data.resume.projects.heading | slugify }} {
    width: 100%;
    background-color: indigo;
  }

  .section-{{ site.data.resume.work.heading | slugify }} {
    width: 100%;
    background-color: purple;
  }

  .section-{{ site.data.resume.coursework.heading | slugify }} {
    width: 100%;
    background-color: violet;
  }

  [class*='section-'] {
    background-color: white;
  }


}
