---
---

@import 'cmun-serif';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited {
    color: blue;
  }
}

// LaTeX stylization:
// http://tess.oconnor.cx/2007/08/tex-poshlet
// https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
.latex {
  .a, .e {
    text-transform: uppercase;
    position: relative;
    vertical-align: baseline;
  }
  .a {
    font-size: 0.85em;
    top: -0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
  }
  .e {
    font-size: 1em;
    top: 0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
  }
}

// dot leaders:
// http://stackoverflow.com/a/25212853/2128530
.dot-leader {
  // display: block;
  clear: both;

  span:first-child {
    float: left;
    padding-right: .5em;
  }

  span:last-child {
    float: right;
    padding-left: .5em;
  }

  &:after {
    content: "········································································································································";
    display: block;
    overflow: hidden;
  }
}


// styling section unordered lists
section article {
  ul > li {
    // text-indent: -5px;
    text-indent: -10px;
  }
  ul > li:before {
    content: "- ";
  }
}


body {
  background-color: {{ site.color }};
}

main {
  background-color: white;
  font-family: 'Computer Modern Serif', serif;
  font-size: 12pt;
  max-width: 960px;
  // width: 760px;
  margin: 0 auto;
  padding: 1in;
  hyphens: auto;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

// basic formatting for all sections
[class*='section-'] {
  width: 100%;
  margin-bottom: 1em;
  float: left;
  padding-right: 10px;
  &:last-of-type {
    padding-right: 0px;
  }

  // indent everything but the headers of sections and articles
  &>:not(header), & article>:not(header) {
    padding-left: 1em;
  }

  & article {
    margin-bottom: 1em;
    header {
      font-style: italic;
      font-weight: bold;
    }
  }
}

// infosection heading styling
section article header {
  span:nth-of-type(n+2):before {
    content: "•";
  }
}


// expand parent of grid to contain all children
.grid:after {
  content: "";
  display: table;
  clear: both;
}

.section-name {
  width: 100%;
  background-color: red;
}

.section-{{ site.data.resume.contact.heading | slugify }} {
  float: right;
  width: 41%;
  background-color: orange;
}

.section-{{ site.data.resume.intro.heading | slugify }} {
  width: 59%;
  background-color: yellow;
}

.section-{{ site.data.resume.education.heading | slugify }} {
  width: 59%;
  background-color: green;
}

.section-{{ site.data.resume.skills.heading | slugify }} {
  width: 100%;
  background-color: blue;
  ul {
    -moz-column-count: 5;
    -moz-column-gap: 3em;
    -webkit-column-count: 5;
    -webkit-column-gap: 3em;
    column-count: 5;
    column-gap: 3em;
  }
}



// Customization for smaller screen sizes:
//-----------------------------------------------------------------------------



// reduce the margin to half an inch
@media screen and (max-width: 958px) {
  main {
    padding: 0.5in;
  }
}

// make contact info into two columns, and make intro and education full-width
@media screen and (max-width: 860px) {
  .section-{{ site.data.resume.contact.heading | slugify }} {
    float: left;
    width: 100%;

    ul {
      -moz-column-count: 2;
      -moz-column-gap: 2em;
      -webkit-column-count: 2;
      -webkit-column-gap: 2em;
      column-count: 2;
      column-gap: 2em;
    }
  }
  .section-{{ site.data.resume.intro.heading | slugify }} {
    width: 100%;
  }
  .section-{{ site.data.resume.education.heading | slugify }} {
    width: 100%;
  }
}

// stack work info header elements vertically
@media screen and (max-width: 808px) {
  section article header {
    span {
      display: block;
    }
    span:nth-of-type(n+2):before {
     content: none;
    }
  }
}

// make contact into one column and make skills into four columns
@media screen and (max-width: 732px) {
  .section-{{ site.data.resume.contact.heading | slugify }} {
    ul {
      -moz-column-count: 1;
      -moz-column-gap: 0em;
      -webkit-column-count: 1;
      -webkit-column-gap: 0em;
      column-count: 1;
      column-gap: 0em;
    }
  }
  .section-{{ site.data.resume.skills.heading | slugify }} {
    ul {
      -moz-column-count: 4;
      -moz-column-gap: 3em;
      -webkit-column-count: 4;
      -webkit-column-gap: 3em;
      column-count: 4;
      column-gap: 3em;
    }
  }
}

// make skills into three columns and narrow their width
@media screen and (max-width: 576px) {
  .section-{{ site.data.resume.skills.heading | slugify }} {
    ul {
      -moz-column-count: 3;
      -moz-column-gap: 2em;
      -webkit-column-count: 3;
      -webkit-column-gap: 2em;
      column-count: 3;
      column-gap: 2em;
    }
  }
}

// drop the margin to a tenth of an inch
@media screen and (max-width: 450px) {
  main {
    padding: 0.1in;
  }
}

// drop font size of contact info, make skills into two columns
@media screen and (max-width: 330px) {
  .section-{{ site.data.resume.contact.heading | slugify }} {
    .dot-leader span:last-child {
      font-size: .9em;
    }
  }
  .section-{{ site.data.resume.skills.heading | slugify }} {
    ul {
      -moz-column-count: 2;
      -moz-column-gap: 3em;
      -webkit-column-count: 2;
      -webkit-column-gap: 3em;
      column-count: 2;
      column-gap: 3em;
    }
  }
}

// styling for a printed page
@media print {
  @page {
    margin: 1in;
  }
  body {
    background-color: white;
  }
  main {
    font-size: 9.5pt;
    padding: 0;
  }
}


[class*='section-'] {
  background-color: white;
}
