---
---

@import 'cmun-serif';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@media screen and (min-width: 480px) {

  body {
    background-color: {{ site.color }};
  }

  main {
    background-color: white;
    font-family: 'Computer Modern Serif', serif;
    font-size: 12pt;
    width: 960px;
    // width: 760px;
    margin: 0 auto;
    padding: 1in;
    hyphens: auto;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  // basic formatting for all sections
  [class*='section-'] {
    margin-bottom: 1em;
    float: left;
    padding-right: 10px;
    &:last-of-type {
      padding-right: 0px;
      // margin-bottom: 0px;
    }
  }

  // expand parent of grid to contain all children
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }

  .section-name {
    width: 100%;
    background-color: red;
  }

  .section-{{ site.data.resume.contact.heading | slugify }} {
    float: right;
    width: 40%;
    background-color: orange;
  }

  .section-{{ site.data.resume.intro.heading | slugify }} {
    width: 60%;
    background-color: yellow;
  }

  .section-{{ site.data.resume.education.heading | slugify }} {
    width: 60%;
    background-color: green;
  }

  .section-{{ site.data.resume.skills.heading | slugify }} {
    width: 100%;
    background-color: blue;
    ul {

      -moz-column-count: 5;
      -moz-column-gap: 3em;
      -webkit-column-count: 5;
      -webkit-column-gap: 3em;
      column-count: 5;
      column-gap: 3em;
    }
  }

  .section-{{ site.data.resume.projects.heading | slugify }} {
    width: 100%;
    background-color: indigo;
  }

  .section-{{ site.data.resume.work.heading | slugify }} {
    width: 100%;
    background-color: purple;
  }

  .section-{{ site.data.resume.coursework.heading | slugify }} {
    width: 100%;
    background-color: violet;
  }

  [class*='section-'] {
    background-color: white;
  }


}
