---
---

<!-- grab the resume data and stick it a variable called "resume" for easy access -->
{% assign resume = site.data.resume %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <main role="main">
      <article role="article" class="grid">

        <section class="section-name">
          <header role="heading">
            <h1>{{ resume.name }}</h1>
          </header>
        </section>

        {% if resume.contact.display %}
          <section class="section-{{ resume.contact.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.contact.heading }}</h2>
            </header>
            <address>
              <ul>
                {% for item in resume.contact.body %}
                  {% if item.display %}
                    <li class="dot-leader">
                      <span>{{ item.heading }}</span>
                      <span>
                        {% if item.href %}
                          <a href="{{ item.href }}" target="_blank">{{ item.legible }}</a>
                        {% else %}
                          {{ item.legible }}
                        {% endif %}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </address>
          </section>
        {% endif %}

        {% if resume.intro.display %}
          <section class="section-{{ resume.intro.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.intro.heading }}</h2>
            </header>
            {{ resume.intro.body | markdownify }}
          </section>
        {% endif %}

        {% if resume.education.display %}
          <section class="section-{{ resume.education.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.education.heading }}</h2>
            </header>
            {{ resume.education.body | markdownify }}
          </section>
        {% endif %}

        {% if resume.skills.display %}
          <section class="section-{{ resume.skills.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.skills.heading }}</h2>
            </header>
            <ul>
              {% for skill in resume.skills.body %}
                <li>{{ skill}}</li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}

        {% for infosection in resume.infosections %}
          {% if infosection.display %}
            <section class="section-{{ infosection.heading | slugify }}">
              <header role="heading">
                <h2>{{ infosection.heading }}</h2>
              </header>
              {% for item in infosection.body %}
                {% if item.display %}
                  <article role="article">
                    <header role="heading">
                      <span class="main">
                        {% if item.href %}
                          <a href="{{ item.href }}" target="_blank">{{ item.legible}}</a>
                        {% else %}
                          {{ item.legible }}
                        {% endif %}
                      </span>
                      {% if item.title %}
                        <span class="title">
                          {{ item.title }}
                        </span>
                      {% endif %}
                      {% if item.time %}
                        <span class="time">
                          {{ item.time }}
                        </span>
                      {% endif %}
                    </header>
                    <ul>
                      {% for bullet in item.body %}
                        <li>{{ bullet }}</li>
                      {% endfor %}
                    </ul>
                  </article>
                {% endif %}
              {% endfor %}
            </section>
          {% endif %}
        {% endfor %}
      </article>
    </main>
  </body>
</html>
