---
---

<!-- grab the resume data and stick it a variable called "resume" for easy access -->
{% assign resume = site.data.resume %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <main role="main">
      <article role="article" class="grid">

        <section class="section-name">
          <header role="heading">
            <h1>{{ resume.name }}</h1>
          </header>
        </section>

        {% if resume.contact.display %}
          <section class="section-{{ resume.contact.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.contact.heading }}</h2>
            </header>
            <address>
              <dl>
                {% for item in resume.contact.body %}
                  {% if item.display %}
                    <dt>{{ item.heading }}:</dt>
                    <dd>
                      {% if item.href %}
                        <a href="{{ item.href }}" target="_blank">{{ item.legible }}</a>
                      {% else %}
                        {{ item.legible }}
                      {% endif %}
                    </dd>
                  {% endif %}
                {% endfor %}
              </dl>
            </address>
          </section>
        {% endif %}

        {% if resume.intro.display %}
          <section class="section-{{ resume.intro.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.intro.heading }}</h2>
            </header>
            {{ resume.intro.body | markdownify }}
          </section>
        {% endif %}

        {% if resume.education.display %}
          <section class="section-{{ resume.education.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.education.heading }}</h2>
            </header>
            {{ resume.education.body | markdownify }}
          </section>
        {% endif %}

        {% if resume.skills.display %}
          <section class="section-{{ resume.skills.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.skills.heading }}</h2>
            </header>
            <ul>
              {% for skill in resume.skills.body %}
                <li>{{ skill}}</li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}

        {% if resume.projects.display %}
          <section class="section-{{ resume.projects.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.projects.heading }}</h2>
            </header>
            {% for project in resume.projects.body %}
              <article role="article">
                <header role="heading">
                  <a href="http://{{ project.url }}" target="_blank">{{ project.url }}</a> - {{ project.time }}.
                </header>
                {{ project.body | markdownify }}
              </article>
            {% endfor %}
          </section>
        {% endif %}

        {% if resume.work.display %}
          <section class="section-{{ resume.work.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.work.heading }}</h2>
            </header>
              {% for work in resume.work.body %}
                <article role="article">
                  <header role="heading">
                    {{ work.title }} - {{ work.time }}.
                  </header>
                  {{ work.body | markdownify }}
                </article>
              {% endfor %}
          </section>
        {% endif %}

        {% if resume.coursework.display %}
          <section class="section-{{ resume.coursework.heading | slugify }}">
            <header role="heading">
              <h2>{{ resume.coursework.heading }}</h2>
            </header>
              {% for coursework in resume.coursework.body %}
                <article role="article">
                  <header role="heading">
                    {{ coursework.title }} - {{ coursework.time }}.
                  </header>
                  {{ coursework.body | markdownify }}
                </article>
              {% endfor %}
          </section>
        {% endif %}
      </article>
    </main>
  </body>
</html>
